.sec-service_hero {
  position: relative;

  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  padding-top: 14rem;
  padding-bottom: 2.8rem;

  background-color: #0a364c;

  color: var(--main-color--white);
}

@media screen and (max-width: 991px) {
  .sec-service_hero {
    padding-top: 9rem;
  }
}

.hh-shadow-top {
  position: absolute;
  left: 0%;
  top: 10%;
  right: 0%;
  bottom: auto;
  z-index: 2;

  width: 32%;
  height: 35%;
  margin-right: auto;
  margin-left: auto;

  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  background-color: var(--olds--teal-500);

  filter: blur(150px);
  pointer-events: none;

  will-change: filter, transform;
}

.hh-shadow {
  position: absolute;
  left: auto;
  top: auto;
  right: -14%;
  bottom: 13%;
  z-index: 2;

  width: 46%;
  height: 40%;

  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  background-color: #f59683;

  filter: blur(322px);
  pointer-events: none;

  will-change: filter, transform;
}

@media screen and (max-width: 767px) {
  .hh-shadow {
    filter: blur(200px);
  }
}

.service_hero-wrapper {
  position: relative;
  z-index: 3;
}

.global_container {
  width: 100%;
  max-width: 85rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.container-medium {
  max-width: 70rem;
}

.global_container.gap {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.service_hero-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 4.375rem;
  grid-row-gap: 4.375rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .service_hero-grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  .service_hero-grid {
    grid-template-columns: 1fr;
  }
}

.overflow_hidden {
  overflow: hidden;
}

.heading-stye-h2-56-68 {
  font-family: var(--olds--font-bagoss-exd);
  font-size: 3.5rem;
  line-height: 1.25;
  font-weight: 600;
}

@media screen and (min-width: 1920px) {
  .heading-stye-h2-56-68 {
    font-size: 4.25rem;
  }
}

@media screen and (max-width: 991px) {
  .heading-stye-h2-56-68 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-stye-h2-56-68 {
    font-size: 2rem;
  }
}

.service_hero-desc-wrap {
  overflow: hidden;
  margin-top: 1.8rem;
  margin-bottom: 3.6rem;
}

.typo-m-18-20 {
  font-size: 1.125rem;
  line-height: 1.55;
}

@media screen and (min-width: 1920px) {
  .typo-m-18-20 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .typo-m-18-20 {
    font-size: 1rem;
  }
}

.font-weight-600 {
  font-weight: 600;
}

.chnage-color-white {
  color: white;
}

.font-weight-500 {
  font-weight: 500;
}

.typo-m-18-20.opacity-80 {
  opacity: 0.8;
  color: var(--main-color--white);
}

.typo-m-18-20.opacity-80.weight-300 {
  font-weight: 300;
}

.typo-m-18-20.weight-300 {
  font-weight: 300;
}

.typo-m-18-20.font-weight-300 {
  font-weight: 300;
}

.typo-m-18-20.opacity {
  color: hsla(0, 0.00%, 100.00%, 0.80);
}

.position-relative {
  position: relative;
  z-index: 2;
}

.typo-m-18-20.position-relative.width {
  width: 53rem;
}

@media screen and (max-width: 991px) {
  .typo-m-18-20.position-relative.width {
    width: 100%;
  }
}

.service-hero-btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 767px) {
  .service-hero-btn-wrap {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.main-img-wrapper {
  position: relative;

  overflow: hidden;

  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  height: calc(100% + 1.5rem);
}

.main-img-wrapper.is-support {
  width: 100%;
  max-width: 39.37rem;
}

.service_img-holder {
  position: relative;
  aspect-ratio: 587/637;
}

.certified-logo-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  transform: translate(0px, 1.5rem);
}

.certified-logo {
  width: 100%;
  height: 100%;
}

.service_img-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.sevice-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.image-overlay-one-teal {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 111;

  background-color: var(--olds--image-overlay-anim-one);

  transform: translate(0rem, -101%);
}

.image-overlay-one-teal.change-color-green {
  background-color: var(--secondary-temp\<deleted\|variable-66c45237-a636-9709-cf28-bec96131052b\>);
}

.image-overlay-white {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 12;

  background-color: hsla(210.00000000000009, 83.33%, 97.65%, 1.00);

  transform: translate(0rem, -101%);
}

.image-overlay-white.change-color-black {
  background-color: hsla(243.33333333333334, 42.86%, 8.24%, 1.00);
}

.change-color-black {
  color: black;
}

.service_marquee-wrap {
  margin-top: 4.875rem;
}

.marquee-logo-set-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 81.75rem;
  margin-right: auto;
  margin-left: auto;
}

.marquee-logo-set-container.gap {
  grid-column-gap: 2.625rem;
  grid-row-gap: 2.625rem;
}

.marquee-logo-sets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.marquee-logo-sets.hero-logo {
  margin-right: 5rem;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

@media screen and (min-width: 1440px) {
  .marquee-logo-sets.hero-logo {
    justify-content: space-between;
    align-items: center;
  }
}

.marquee-logo-sets.client-hero-logo {
  margin-right: 5rem;
  justify-content: space-between;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

@media screen and (min-width: 1440px) {
  .marquee-logo-sets.client-hero-logo {
    margin-right: 0rem;
    justify-content: space-between;
    align-items: center;
  }
}

.marquee-logo-sets.marquee-logo {
  grid-column-gap: 2.625rem;
  grid-row-gap: 2.625rem;
}

.marquee-logo.ecoegg {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
}

.marquee-logo.signbox {
  width: 9rem;
}

.marquee-logo.itris {
  width: 5.5rem;
}

.marquee-logo.imageco {
  width: 7.5rem;
}

.marquee-logo.fespa {
  width: 10rem;
}

.marquee-logo.aetha {
  width: 7rem;
}

.marquee-logo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#w-node-_015f7b98-a1f8-d7bb-72d8-852335ff1d9c-35ff1d96 {
  align-self: center;
}
@media screen and (max-width: 991px) {
  #w-node-_015f7b98-a1f8-d7bb-72d8-852335ff1da3-35ff1d96 {
    order: -9999;
  }
}