.testimonial-card {
  position: relative;
  height: 100%;
}

.testimonial-card-content {
  position: relative;
  z-index: 11;

  height: 100%;
  padding: 2.5rem 1.875rem;

  border: 2px solid var(--main-color--charcoal-grey-900);
  border-radius: 1.25rem;

  background-color: white;

  box-shadow: 0 14px 5rem 0 hsla(229.09090909090912, 68.75%, 93.73%, 1.00);

  transition: box-shadow 500ms ease;
}

@media screen and (min-width: 1440px) {
  .testimonial-card-content {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

.testimonial-card-content:hover {
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  .testimonial-card-content {
    border-style: none;
  }
}

.testimonial-tag {
  display: flex;
  margin-bottom: 1.875rem;
  justify-content: flex-end;
  align-items: flex-start;
}

.typo-s-14-16 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
}

@media screen and (min-width: 1920px) {
  .typo-s-14-16 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .typo-s-14-16 {
    font-size: 0.75rem;
  }
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.typo-s-14-16.font-weight-300 {
  font-weight: 300;
}

.typo-s-14-16.font-weight-300.line-heoght {
  line-height: 1.7;
}

.typo-s-14-16.opacity-80 {
  color: hsla(0, 0.00%, 100.00%, 0.80);
}

.testimonial-logo-wrap {
  display: flex;
  width: 6.5rem;
  height: 4rem;
  margin-bottom: 1.875rem;
  justify-content: center;
  align-items: center;
}

.testimonial-logo {
  width: 100%;
  height: auto;
}

.testimonial-desc-wrap {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 991px) {
  .testimonial-desc-wrap {
    max-width: 100%;
  }
}

.typo-r-16-18 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

@media screen and (min-width: 1920px) {
  .typo-r-16-18 {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 767px) {
  .typo-r-16-18 {
    font-size: 1rem;
  }
}

.typo-r-16-18.font-weight-500.grey-color {
  color: var(--main-color--charcoal-grey-600);
}

.typo-r-16-18.width {
  max-width: 50.2rem;
}

@media screen and (min-width: 1920px) {
  .typo-r-16-18.width {
    max-width: 52.3rem;
  }
}

.typo-r-16-18.fomt-weight-300 {
  font-weight: 300;
}

.typo-r-16-18.fomt-weight-300.width {
  max-width: 46.6rem;
}

@media screen and (min-width: 1920px) {
  .typo-r-16-18.fomt-weight-300.width {
    max-width: 52.4rem;
  }
}

.change-color-white {
  color: white;
}

.hide {
  display: none;
}

.typo-r-16-18.color-grey {
  color: var(--main-color--charcoal-grey-100);
}

.testimonial-link {
  transition: all 300ms ease-in-out;
  color: #7b7f82;
  font-size: 0.75rem;
}

.testimonial-link:hover {
  color: #6cdcc5;
}

.testimonial-overlay {
  position: absolute;
  left: 0.4375rem;
  top: 0.4375rem;
  right: -0.4375rem;
  bottom: -0.4375rem;

  border-radius: 1.25rem;

  background-color: var(--main-color--coral);
}

@media screen and (max-width: 991px) {
  .testimonial-overlay {
    display: none;
  }
}

#w-node-e3e20b35-43e7-8cdd-e1bd-29b06d6de6a8-6d6de6a8 {
}